/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 90vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}

/* Title */

h1 {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    margin-top: 45px;
    line-height: 25px;
}


h2 {
    font-size: 26px;
    font-weight: 500;
}

p {
    font-size: 14px;
}


/* Links & Buttom */
button{
    width: 100%;
    height: 25px;
    border: none;
    padding: 0;
    border-radius: 5px;
    cursor: pointer;
    background: white;
}

button:hover{
    background: rgb(192, 192, 192, 0.5);
}

/* Image & Logo */

img {
    width: 70px;
}

.alura-logo {
    width: 50px;
    position: absolute;
    top: 10px;
    right:10px;
}


.page-logo {
    width: 200px;
    height: 40px;
    margin-top: 30px;
    margin-left: 550px;
}


/* Main */

main {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Cards*/

.card {
    background: rgba(255, 255, 255, 0.6);
    padding: 160px 160px;
    border-radius: 10px;
    margin-left: 25px;
}

.card-celcius {
   margin-top: -50px;
   line-height: 35px;
}

.card-fahrenheit{
    margin-top: -50px; 
    line-height: 35px;
}

#info {
    font-size: 15px;
    font-weight: 500;
}


/* input */
input{
    border: none;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
}










